 {% comment %} <div class="row">
            <div class="col">
              <div class="input-group mb-3">
                  <span class="input-group-text" id="email"><i class="fas fa-envelope"></i></span>
                  <input type="text" class="form-control-sm" placeholder="xx@gmail.com" aria-label="email" aria-describedby="email">
              </div>
        
              <div class="input-group mb-3">
                  <span class="input-group-text" id="lineid"><i class="fab fa-line"></i></span>
                  <input type="text" class="form-control-sm" placeholder="xx" aria-label="lineid" aria-describedby="lineid">
              
              </div>
        
        
              <div class="input-group mb-3">
                  <span class="input-group-text" id="twitter"><i class="fab fa-twitter-square"></i></span>
                  <input type="text" class="form-control-sm" placeholder="xx" aria-label="twitter" aria-describedby="twitter">
              
              </div>
        
        
              <div class="input-group mb-3">
                  <span class="input-group-text" id="github"><i class="fab fa-github-square"></i></span>
                  <input type="text" class="form-control-sm" placeholder="ajaxjson" aria-label="github" aria-describedby="github">
              
              </div>
        
              <div class="input-group mb-3">
                  <span class="input-group-text" id="phoneno"> <i class="fas fa-mobile-alt"></i></span>
                  <input type="text" class="form-control-sm" placeholder="+66" aria-label="phoneno" aria-describedby="phoneno">
              
              </div>
            </div> {% endcomment %}

          {% comment %} <li class="ms-3"><a class="text-muted" href="{% static 'myapp/svg/footer.svg' %}"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"/></svg></a></li>
          <li class="ms-3"><a class="text-muted" href="{% static 'myapp/svg/footer.svg' %}"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"/></svg></a></li>
          <li class="ms-3"><a class="text-muted" href="{% static 'myapp/svg/footer.svg' %}"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"/></svg></a></li> {% endcomment %}