<form action="" id="frmUpdateTracker">
        {% csrf_token %}
        <input type="hidden" class="form-control" value="{{orderid}}" id="orderid" name="orderid"> 
        <input type="hidden" class="form-control" value="{{rowindex}}" id="rowindex" name="rowindex"> 
        
        <input type="hidden" value="getTrackinnumber" id="updateWhat" name="updateWhat">
        <div class="row g-2 mb-1">
            
          <div class="col">
            <div class="input-group mb-1">
              <span class="input-group-text">เลขที่พัสดุ:</span>
              <input type="text" class="form-control" id="trackingnumber" placeholder="เลขที่พัสดุ" name="trackingnumber">
            </div>
          </div>
  
          <div class="col">
            <button class="btn-secondary btn-group-sm" onclick="updateTracknumber();">Submit</button>
        </div>
      </div>
 </form>
