<!DOCTYPE html>
<html lang="en">
<head>
    <!--ข้อมูลพื้นฐานของเว็บไซต์-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="เว็บเกี่ยวกับการกวดวิชาสอบเข้าเตรียมทหาร">
    <meta name="author" content="MOTHERSHIP Project X">
    <meta name="keywords" content="วิชาฟิสิกส์ ม.4">
    <title>วิชาฟิสิกส์ ม.4</title>
</head>
<body>
    <h1>วิชาฟิสิกส์ ม.4</h1>
    <p><strong>ให้นักเรียนศึกษา</strong>Lorem ipsum dolor <br>sit amet.</p>
     
    <hr> <!--สร้างเส้นคั่น -->
    <h2>หัวข้อรายวิชา</h2>
    <a href="ฟ.4-1.html" target="_blank" >ฟ.4-1 เซต</a>
    <hr>
    <h1>รายวิชาอื่นๆ</h1><p></p>
    <a href="../คณิตศาสตร์ ม.4/วิชาคณิตศาสตร์ ม.4.html">วิชาคณิตศาสตร์ ม.4</a>&nbsp;&nbsp;
    <a href="วิชาฟิสิกส์ ม.4.html">วิชาฟิสิกส์ ม.4</a>&nbsp;&nbsp;
    <a href="../เคมี ม.4/วิชาเคมี ม.4.html">วิชาเคมี ม.4</a>&nbsp;&nbsp;
    <a href="../ชีวะวิทยา ม.4/วิชาชีวะวิทยา ม.4.html">วิชาชีวะวิทยา ม.4</a><p></p>
    <a href="../ภาษาอังกฤษ ม.4/วิชาภาษาอังกฤษ ม.4.html">วิชาภาษาอังกฤษ ม.4</a>&nbsp;&nbsp;
    <a href="../ภาษาไทย ม.4/วิชาภาษาไทย ม.4.html">วิชาภาษาไทย ม.4</a>&nbsp;&nbsp;
    <a href="../สังคม ม.4/วิชาสังคม ม.4.html">วิชาสังคม ม.4</a>&nbsp;&nbsp;
    
    
</body>
</html>