{% extends "myapp/layout.html" %}
{% block title %}
About us 
{% endblock %}

{% block content %}
<div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-1 border-bottom">เรื่องราวของพวกฉัน ในวันที่เริ่ม "เป็นชิ้นเป็นอัน"</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <div class="feature-icon bg-primary bg-gradient">
           &nbsp;
        </div>
        <h2>วันตั้งต้น</h2>
        <p>เพจนี้ในนามของเด็ก 4 คน ช่วยกันเขียน บาส ฝน สา นัท โดยมี
            <br>สา เป็น teamleader สำหรับ Django
            <br>บาส เป็น teamleader สำหรับ GUI, 
            <br>นัท ฝนเป็น teamleader สำหรับ Flutter, 
            <br>
            ย้อนกลับไป 2020 เด็กหญิง 2 คน กับ เด็กชาย 2 คน ชั้น ป.3 ถามครูว่า เด็กที่ไม่มี คอมพิวเตอร์ ไม่มีมือถือ ไม่มีอินเตอร์เน็ต จะเป็นโปรแกรมเมอร์ได้หรือไม่ ครูตอบมาว่า "ได้" เพราะตอนวันที่ครูเรียนสายคอมฯ เมื่อ 40 ปีที่แล้ว ครูก็ไม่มีอะไรเลย ตามที่พวกเขาพูดมา หนังสือให้อ่านเป็นภาษาไทยเกี่ยวกับคอมพิวเตอร์แทบไม่มี ครูสั่งได้จากต่างประเทศ ซึ่งต้องให้ร้านหนังสือสั่งซื้อให้ คอมฯ ของมหาลัยก็ต้องไปแย่งจองคิวใช้งาน ได้คนละ 3 ชั่วโมงต่อครั้ง ซึ่งมากสุดก็ได้แค่วันละ 3 ชั่วโมง ต่อคน ต่อวัน บางวันซวยหน่อยก็ได้รอบ เที่ยงคืน กลับตี 3 หรือไม่ก็นอนหอเพื่อนในมหาลัยไปเลย วันที่โชคดีสุดก็คือวันที่ได้รอบตี 4 ตี 5 คืออาบน้ำเสร็จ เข้ามาทำ แล้วเข้าห้องเรียนต่อเลย
            <br>
            <br>
            เมื่อได้ฟังดังนั้นเทียบกับพวกเราในวันนี้ ที่พอหยิบยืมโน๊ตบุ๊คคุณครูแต่ท่านได้ ถือว่า ไปได้ เป็นไปได้ "สอนให้หน่อย" คือ คำแรกที่บาส พูดกับครู ครูมองมานานมาก จับหน้าบาสพลิกไปมา จับต้นแขนเหมือนจะเช็คกล้ามอยู่สักครู่ สาแอบกระซิบกับนัทว่า ครูเข้าเข้าใจไรผิดป่าว ให้สอนคอมฯ ทำยังกะเช็คหน่วยก้านนักมวยเข้าค่าย แล้วครูก็ถามว่าจะเรียนไปทำไม ถ้าเรียนหนีจนก็จะสอนให้ ถ้าเรียนเพื่อเป้าหมายเพื่อทำหน้าที่ของลูก เพียงแค่ให้พ่อมีเฟรมอยู่ในวันรับปริญญา ไปให้ไกลๆ บาสเลยตอบไปว่า เด็ก ป.3 กล้ามขนาดนี้มันยังจนไม่พอ จนต้องหนีอีกหรือ แล้วบาสก็ถามว่าสอนทั้ง 4 คนเลยได้ไหม ครูตอบว่า จนทุกคนป่าวล่ะ ถ้าจนทุกคนก็สอนให้ สรุป ผ่านเกณฑ์ สอบสัมภาษณ์ จากครูทุกคน
            <br>
            <br>
            ผ่านไป 1 ปีพวกฉันถึงได้ถามครูว่า ทำไมถึงเลือกสอนให้เด็กจน ทั้งที่คนมีเงิน มาขอให้สอนตั้งเยอะแยะแบบจ่ายตังก์ ครูบอกว่า เส้นทางโปรแกรมเมอร์ไม่ได้สวยหรู วันเริ่มต้นมันเป็นแค่ "จับกังนั่งโต๊ะ" ถ้าแรงฮีดไม่มากพอ หรือข้อจำกัดของชีวิตไม่บังคับให้ต้องทนให้ได้สูงพอ เลิกล้มไปกลางทาง นั่นคือประสบการณ์ของครูที่ตลอดชีวิตเรียนอยู่แต่ห้องของเด็กรวย    
            <br>
            <br>
            วงการนี้คนถ้าไม่ชอบจริงๆ ไม่มีทางไปต่อ ต่อให้คนที่ต้องทนทำในภาวะจำยอม พอลืมตาอ้าปากได้ สุดท้ายก็ทิ้งอยู่ดี แล้วจะเอาแรงไปทุ่มให้เด็กที่วันนึงเมื่อมันรู้แล้วว่า ทำไมเหนื่อยขนาดนี้ ทำไมต้องทนทำ ทั้งที่พวกเขาความพร้อมในชีวิตมากพอที่จะเดินจากไป วัยของฉันคือวัยควรได้พักผ่อนไม่ใช่วัยที่มาใช้แรงงาน ทุ่มให้สิ่งที่เป็นศูนย์ในวันข้างหน้า ฉันเอาเวลาไปเลี้ยงหมาดีกว่า
            <br>
            <br>
            ส่วนพวกเธอไม่สิทธิ์ทิ้งกลางทาง เพราะถือว่า "หลอก" ใช้งานฉันมา 1 ปีแล้ว
            </p>
        <a href="#" class="icon-link" style="display:none">
          Call to action
          <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
        </a>
      </div>
      <div class="feature col">
        <div class="feature-icon bg-primary bg-gradient">
            &nbsp;
        </div>
        <h2>วันตั้งทีม</h2>
        <p>เราจะทำงานเป็น "ทีม" นั่นคือ กฎข้อแรก ที่ออกมาจากปากครู เพื่อสองเป้าหมาย
            <br>
            <br>
            1. เพื่อสร้าง "ภูมิคุ้มกันการถูกวิจารณ์" ไว้ตั้งแต่เด็ก ด้วยระบบการศึกษาแบบเก่า หลายคนไม่มีทางรู้เลยว่า อันตรายมากสำหรับองค์กร จะรู้ก็ในวันที่เด็กเข้าสู่วัยทำงาน ทำงานเป็นทีมไม่เป็น เป็นก็จะฆ่ากันตายแค่คำว่า ถูกวิจารณ์ สุดท้ายก็ลาออกกัน กลายเป็นเหลือคนเก่ง ที่อยู่ต่อภายใต้ภาระงานอันแสนหนาสาหัส แล้วสุดท้ายก็ชิงหนีไปอีกคน แล้วองค์กรจะเหลืออะไร
            <br>
            <br>
            เก่งที่สุดท้าย จบกับคนในทีมที่คำว่า "เดี๋ยวกุทำเอง" แล้วก็แบกงานด้วยสังขารตัวเองสุดท้ายก็ร่วง สุดท้ายลาออก อันนี้เรียก เก่งแต่ทำงานเป็นทีมไม่เป็น
            <br>
            <br>
            เก่งแต่รับคำวิจารณ์(งาน) ไม่ได้ อันนี้เรียก "ภูมิคุ้มกันการถูกวิจารณ์บกพร่อง" อันนี้ไม่โทษเด็ก โทษระบบการศึกษา งัดข้อกับครูถือว่าผิด โอกาสเด็กได้โต้เถียงบนสังคมของคนเสวนา นั่นไม่มีเลย ดังนั้นเด็กไม่มีทั้งทักษะการวิจารณ์ และการถูกวิจารณ์ พอโตไปทำงาน วิจารณ์กับด่าแยกกันไม่ถูก ถูกวิจารณ์กับถูกตำหนื ก็แยกไม่ถูก 
            <br>
            <br>
            2. เพื่อทุกคนไม่หนักมาก โดยวนความรับผิดชอบกันไป จะได้มีสกิลทุกด้านเท่ากันทุกคน แต่เรื่องไหนพื้นฐานต้องทำเองคนเดียว ซึ่งก็เป็นเรื่องเล็กๆแต่ลึกๆ มาตลอด เล็กที่ว่านั่นคือ ให้โจทย์เล็กๆ มาให้ทำโดยไม่ชี้นนำความคิด หลายครั้งจับได้ว่าเอาคำตอบมาจากในเน็ต ก็ไม่ว่า แต่ตอบได้ทุกบรรทัด ผ่านไปสัก 4-5 เดือนครูเริ่มถามว่า เหนื่อยไหม ก็งงว่าถามว่าอะไร ครูก็เลยถามว่า เรียนรู้สมองคนอื่นว่าเขาคิดยังไง ถึงได้โค้ดออกมาแบบนี้น่ะเหนื่อยไหม คนเขียนโค้ดน่ะ สมองที่ดีที่สุดก็คือ สมองที่นำมาหาคำตอบกับโจทย์ที่ตัวเองเป็นคนตั้งขึ้น เธอแค่เสียเวลาแค่ตอนเริ่มแรก แต่จำมันไปไม่ลืม ถ้าไปหาในเน็ต โจทย์เดียวกันหาได้ เป็นล้านคำตอบ สรุปไปเสียเวลากับคำว่า แล้วของใครถูก ถูกกว่า ดีกว่า 
            <br>
            <br>
            ทั้งๆ ที่ระดับนี้ครูตั้งใจไว้ว่า ไม่มีคำว่า ถูกผิด ในวิธีการสอนของฉัน มีแต่คำว่า "เอ็งทำได้แค่ไหน" ไปเอาโจทย์ของกระทรวงศึกษามานั่งให้เด็กบ้าไล่ logic กันนั้น ครูไม่ทำ เพราะเด็กไม่ได้มีหน้าที่ มานั่งไล่กระบวนการคิดจากสมองของใคร ให้โจทย์ไปก็ไปคิดมาว่า จะทำยังไง คิดว่าทำยังไงได้แล้ว ลองทำออกมา ทำออกมาแล้ว ได้ สมปราถนา อันนั้นเรียกประสบความสำเร็จคิดถูก คิดได้แล้วแต่ทำออกมาไม่ได้ นั่นยิ่ง logic เพราะเด็กรู้แล้วว่า logic มันผิด ผิดแล้วก็เหลือแต่ปรับ logic ไม่ได้วันนี้สักวันต้องได้ ถึงได้ให้โจทย์ชื้นโครตเล็ก เพื่อถ้าเข้าทำได้ มันความสนุก ไอ้ที่ไนั่งไล่กันเป็นกระดาษ A4 แต่ไม่รู้ไปนั่งไล่ ความคิดของใครน่ะเหรอ อันนั้นเรียก "ประสาท" จะไล่ logic ก็ต้องไล่ความคิดตัวเอง ฉันคิดแบบนี้ ถึงได้ทำแบบนี้ ตามกระบวนการ 1,2,3.. อ้าวฉันคิดผิด ฉันก็ต้องใช้สมองฉันแก้ปัญหาจาก logic ผิดๆ ของฉัน จบ ได้ก็ได้ ไม่ได้มันคิดแบบคนมี logic เป็น
            <br>
            <br>
            

        </p>
        <a href="#" class="icon-link" style="display:none">
          Call to action
          <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
        </a>
      </div>
      <div class="feature col">
        <div class="feature-icon bg-primary bg-gradient">
           &nbsp;
        </div>
        <h2>วันฟ้าเปิด</h2>
        <p>จากวันตั้งทีม ผ่านไป 2 ปี ตอนนี้พวกเรา ป.5 แล้ว 
            เราพบว่าเส้นทาง โปรแกรมเมอร์สำหรับวัยเด็กไม่ได้สวยงามเลย ตอนเริ่มต้น เหนื่อยมาก วันเวลาผ่านไป จากความยาก ความเหนื่อย ความหนัก เริ่มกลายเป็นความเคยชิน ชินเพราะอะไรที่เคยยาก ไม่ยากอีกแล้ว พูดง่ายๆ คือโจทย์ของความยากเริ่มลดน้อยลงตามกาลเวลาเหลือแค่คำว่า ไม่รู้แทน
            จึงได้รู้ว่า ในโลกนี้ ไม่มีอะไรยาก นอกจากคำว่า "ไม่คุ้นเคย" คุ้นแล้วชินแล้ว สุดท้ายมันอยู่แค่นี้ล่ะ แล้วแต่ใครจะไปเขียนกันยังไง เหมือนแม่บอก โจทย์เดียวกันพันคนเขียนก็พันวิธี 
         
            2 ปีที่สั่งสมประสบการณ์ด้วยการเก็บเล็ก เก็บน้อย ได้บังเกิดผล ออกงาน เป็นชิ้้น เป็นอันมาได้เสียที อยากทำอะไรก็ได้ทำ บนพื้นฐานทัศนคติของครู ที่ว่า "ไม่จำเป็นต้องทำได้" ได้แค่ไหนเอาแค่นั้น ขอแค่อย่าทิ้ง สิ่งที่เคยทำไม่ได้
            <br>
            <br>
            ปี 2021 ครูพาไปส่อง ช่อง youtube ของลุงท่านนึง ครูบอกว่าอะไรพื้นฐานก็รู้หมดแล้ว ถึงเวลาต้องอัพเวลกันแล้ว ไม่เคยได้อยู่ในคลาส ที่ต้องจ่ายตังก์เพราะทุกคน ก็ไม่สามารถกันหมด
            จนต้นปี 2022 ข่าวดีที่สุดในชีวิตก็มา เมื่อครูบอกว่า ได้สิทธิ์เข้าคลาส แอคเคาท์เดียวพอแล้วอย่ากวนลุงมาก มีมากไป แต่สุดเครื่องก็มีแค่เครื่องเดียว ไม่มีประโยชน์อันใด 
            <br>
            <br>
            และก็ปี 2022 เช่นกัน ข่าวดีอีกเรื่องก็มา เมื่อมีผู้ใจบุญบริจาคโน้ตบุ๊คให้ โดยตัวกลางก็จาก เพจลุง เช่นกัน โดยพวกเรามีเครื่องของคุณเพียงเครื่องเดียววนกันใช้ ตลอด 2 ปีที่ผ่านมา ทำให้เห็นว่า ไม่ต้องรีบ เก็บทุกเม็ดให้ละเอียด วันนึงที่จับอะไร เป็นชิ้นเป็นอัน มันจะงัดมาใช้
            โดยไม่ เงอะๆ งะๆ แล้วก็จริงอย่างที่ว่า  
            <br>
            <br>
            2 ปีกับคำว่า "ไม่จำเป็นต้องทำได้" ได้แค่ไหนเอาแค่นั้น ขอแค่อยากลวก เพราะโปรแกรมเมอร์ ไม่ได้เก่งด้วยคำว่า ใครสะสมชั่วโมงนั่งดูได้มากกว่าใคร ดูสองชั่วโมง หัวข้อสอนของลุง จับมาสัก 1 เรื่อง เอามาปั่นจนเป็นงานของตัวเอง แปะโน่นนิดนี่หน่อย จาก tip เล็กๆ น้อยๆ เข้าไป แค่นั้นก็พอ 
            2 ปีกับคำว่า ไม่ต้องรีบ เก็บทุกเม็ดให้ละเอียด ถ้าฐานมันแม่นจะออกซ้ายออกขวา ขึ้นบนล่าง ก็ง่ายล่ะ เป้าหมายของปี 2022 จึงเป็นปีที่ตั้งใจกันไว้ว่า เว็บเบส น่าจะเป็น เป้าหมาย ต่อไปของพวกเรา แม้ใจจะอยากจับโมบายไปด้วย แต่คิดว่า คงลงได้ไม่เต็มที่ แม้ครูจะบอกว่า ทุกเทคโนโลยีมันมีวันตาย น่าจะเอาสายโมบายไปเลย คนทุกวันนี้ ถ้าไม่ทำงานใช้โน๊ตบุ๊คน้อยกว่ามือถือ ดังนั้นแอฟมือถือ ไปได้ต่อ แต่เว็บเบส อาจตายได้ แต่ถ้าเอาตามพื้นฐานความรู้ของพวกเรา มติทีมก็คือ เว็บเบสก่อนดีกว่าอย่างน้อยมันยังพอเข้าใจได้ 90% ของคลาสลุง
        </p>
        <a href="#" class="icon-link" style="display:none">
          Call to action
          <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
        </a>
      </div>
    </div>
  </div>
<p>
    สื่อสารโดยเด็ก เรียบเรียงโดยครูผู้สอน 
</p>
{% endblock %}