{% extends "myapp/layout.html" %}
{% block title %}
Contact us
{% endblock %}
{% block content %}

<div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-1 border-bottom">ติดต่อส่งเสริมค่าขนม ได้โดย...</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <div class="feature-icon bg-primary bg-gradient">
           &nbsp;
        </div>
        <h2>งาน GUI ง่ายๆ</h2>
        <p>
            เพราะนาทีนี้พวกเราทำเป็นอยู่แค่นี้ล่ะ สิ้นปี 2022 ถ้าเว็บเบสยังไม่ตาย คือเป้าหมายต่อไปของพวกเรา
            แม้ไม่ได้ตังก์ แต่ได้โจทย์ ก็กำไรชีวิตแล้ว แต่ขั้นต่ำ ขอนม 1 แพ็คนะครับ
        </p>
        <a href="#" class="icon-link" style="display:none">
          Call to action
          <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
        </a>
      </div>
      <div class="feature col">
        <div class="feature-icon bg-primary bg-gradient">
            &nbsp;
        </div>
        <h2>งาน WEB ง่ายๆ</h2>
        <p>
            ถามว่าง่ายขนาดไหน ก็ตามที่ feature ของเว็บนี้ ตอนวันที่แล้วเสร็จ ครบ 50 ชั่วโมง ทำได้ครับ
        </p>
        <a href="#" class="icon-link" style="display:none">
          Call to action
          <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
        </a>
      </div>
      <div class="feature col">
        <div class="feature-icon bg-primary bg-gradient">
           &nbsp;
        </div>
        <h2>โปรเจคจบ ง่ายๆ</h2>
        <p>
            ถามว่าง่ายขนาดไหน ต่ำกว่าหรือเทียบเท่า ป. ตรี ครับ อันนี้แม่นำ พวกเราเป็นลูกมือ 
        </p>
        <a href="#" class="icon-link" style="display:none">
          Call to action
          <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
        </a>
      </div>
    </div>
  </div>
<p>
    Email : nenomelt@gmail.com
</p>
{% endblock %}