{% extends "myapp/layout.html" %}
{% block title %}
My Card
{% endblock %}
{% block content %}

<div class="container mt-5">
  <h2 class="pb-1 border-bottom">ตะกร้าของฉัน</h2>
  {% if deletestatus == 'deleted' %}
  <div class="alert alert-danger">
    <strong>ลบเรียบร้อยแล้ว</strong> 
  </div>
  {% endif %}
  <table class="table table-striped table-hover" id="tb_mycart" name="tb_mycart">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Book</th>
        
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Total</th>
        <th scope="col">Order Time</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for cart in mycart %}
      <tr>
        <th scope="row">{{cart.bookid}}</th>
        <td>{{cart.bookname}}</td>
        
        <td>{{cart.price}}</td>
        <td>{{cart.quantity}}</td>
        <td>{{cart.total}}</td>
        <td>{{cart.stamp}}</td>
        <td> 
          <div  class="d-flex">
            
            <button type="submit" class="btn-warning btn-group-sm" id='btn_edit'>EDIT</button>
            <button type="submit" class="btn-warning btn-group-sm" id='btn_update' style='display:none'>UPDATE</button>

          <form method="POST" id="form{{cart.bookid}}" onsubmit="return confirm('Are you sure to delete?!!');">
            {% comment %} cardid = bookid {% endcomment %}
            {% csrf_token %}
            <input type="hidden" value="{{cart.bookid}}" form="form{{cart.bookid}}" name="bookid" id="bookid">
            <button type="submit" class="btn-danger btn-group-sm">DELETE</button>
        </form>
        </style>
        </td>
      </tr>
      
      {% endfor %}  
      <tr>
        <th scope="row">&nbsp;</th>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>{{user.profile.cartquan}}</td>
        <td>{{user.profile.sumtotal}}</td>
        <td></td>
        <td>&nbsp;</td>
      </tr>
    </tbody>
  </table>
  
 
</div>
{% endblock %}

{% block javascript %}
  <script>
    $(document).ready(function()
    {
      
      $('body').on('click','button',function(event) {
        //var rowindex = $(this).closest('tr').index();

        var row = $(this).closest("tr")[0];

        //$(this).closest("td").find(input[button])
        //$(this).closest("tr")[0].find('#btn_update').attr('display','inline');
        //$("#" + thisid).html("status changed");
        //$(this).closest("td").find('#example').removeAttr('display');
        
        var quantity = row.cells[3].innerHTML;
        var totalprice = row.cells[4].innerHTML;
        row.cells[3].innerHTML='';
       // alert(row.cells[1].innerHTML);
       //row.cells[3].innerHTML = '';
       row.cells[3].innerHTML = '<input type="text" value="" name="quan" id="quan" size="5" style="text-align:center;">';
       var quantCol = $(this).closest("tr")[0].cells[3]
     
       var row = $(this).closest("tr")[0];
       //var idq = row.cells[6].find('btn_update').id();
       //alert(idq)
       //closest("tr").find('input[type=text]').val();
       //$("elem").closest('tr').find('td:first').text();
      // $(this).closest("tr")[0].find('#btn_update').attr('display','inline');

      });

     
     
     
      
      $('body').on('keyup','input',function(event) {
        
        var quantity = $(this).val()
        var price = $(this).closest("tr")[0].cells[2].innerHTML
        var total = parseInt(quantity) * parseInt(price)
        //alert(total)
        $(this).closest("tr")[0].cells[4].innerHTML = total
        //alert($(this).closest("tr")[0].cells[2].innerHTML)
        //var rowindex = $(this).closest('tr').index();
        /*
        var row = $(this).closest("tr")[0];
        var quantity = row.cells[3].find(button[id='quan']).text();
        
        */
        //var totalprice = row.cells[4].innerHTML;

        //$(this).closest("tr")[0].cells[3].html('dddddd')
        //$("#" + thisid).html("status changed");
        //row.cells[3].innerHTML='';

      });
    
     
  
    });
  </script>
{% endblock javascript%}