{% extends "myapp/layout.html" %}
{% block title %}
My Card
{% endblock %}
{% block content %}

<div class="container mt-5">
  <h2 class="pb-1 border-bottom">รายการสั่งซื้อของฉัน</h2>
  <table class="table table-striped table-hover" id="tb_mycart" name="tb_mycart">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Book</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
        <th scope="col">Total</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for cart in mycart %}
      <tr>
        <th scope="row">{{cart.id}}</th>
        <td>{{cart.bookname}}</td>
        <td>{{cart.quantity}}</td>
        <td>{{cart.price}}</td>
        <td>{{cart.total}}</td>
        <td> 
          <button type="submit" class="btn-secondary btn-group-sm">EDIT</button>
          <button type="submit" class="btn-secondary btn-group-sm">DELETE</button>
        </td>
      </tr>
      {% endfor %}  
      
    </tbody>
  </table>
</div>
{% endblock %}