{% extends "myapp/layout.html" %}
{% load humanize %}
{% block title %}
My Card
{% endblock %}
{% block content %}

<div class="container mt-5">
  <h2 class="pb-1 border-bottom">All Order and Order Status</h2>
  
    
 
 
  <table class="table table-striped table-hover" id="tb_mycart" name="tb_mycart">
    <thead>
      <tr>
        <th scope="col">OrderId</th>
        <th scope="col">Total Quantity</th>
        <th scope="col">Total Price</th>
        <th scope="col">Order Time</th>
        <th scope="col">SLIP</th>
        <th scope="col">SLIP CHECKED</th>
        <th scope="col">PAID</th>
        <th scope="col">DELIVERY</th>
      </tr>
    </thead>
    <tbody>
      {% for orderitem in orderlists %}
      <tr>
        <td>{{orderitem.orderid}}</td>
        <td>{{orderitem.total|intcomma}}</td>
        <td>{{orderitem.quantity}}</td>
        <td>{{orderitem.stamp}}</td>
        <td>
         
          {% if orderitem.slipuploadstatus%}
          <a href="../media/{{orderitem.image}}" target="_blank">
            <span class="text-success"><i class='fas fa-receipt' style='font-size:20px'></i></span>
          </a>
          {% else %}
          <a href="../media/{{orderitem.image}}" target="_blank">
              <span id='uploadslipstatus' class="text-success" style="display:none"><i class='fas fa-receipt' style='font-size:20px'></i></span>
          </a>
          <button type="button" onclick="popUpUploadSlip($(this),'{{orderitem.orderid}}');" class="btn btn-primary" 
          data-bs-toggle="modal" data-bs-target="#uploadSlipModal">
            UPLOAD SLIP
          </button> 
          {% comment %} <a href="{% url 'uploadslip-page' orderitem.orderid %}" class="btn btn-primary btn-sm">UPLOAD SLIP</a> {% endcomment %}
           
          {% endif %}
        </td>     


        <td>
          {% if orderitem.slipcheckedstatus %}
          <span class="text-success"><i class='fas fa-check-square' style='font-size:20px'></i></span>
          {% else %}
          <span class="text-warning">รอตรวจสอบ</span>
          {% endif %}
        </td>

        <td>
          {% if orderitem.paymentstatus %}
          <span class="text-success"><i class='fas fa-check-square' style='font-size:20px'></i></span>
          {% else %}
          <span class="text-warning">รอยืนยันเงินเข้า</span>
          {% endif %}
        </td>

        <td>
          {% if orderitem.shippingstatus %}
          <span class="text-success">{{orderitem.trackingnumber}}</span>
          {% else %}
          <span class="text-warning">อยู่ระหว่างการบรรจุ</span>
          {% endif %}
        </td>
        
      </tr>
      
      {% endfor %}  
     
    </tbody>
  </table>
</div>

<div class="modal fade" id="uploadslipModal" tabindex="-1" aria-labelledby="uploadslipLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="uploadslipLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
  
</div>
{% endblock %}


{% block javascript %}
  <script>
    $(document).ready(function () {

    });
    
    function uploadSlip(){
      //on('submit', function(e){
      $('#frmuploadSlip').submit(function( event ) {
        e.preventDefault();
        var formData = new FormData($('#frmuploadSlip')[0]); 
        alert(formData)
        url = '../uploadslip/'+orderid
        $.ajax({
          type: 'POST',
          url: url,
          cache: false, 
          data: formData,
          async: false, 
          
          contentType: false, 
          processData: false, 
          dataType: 'json' ,
            success: function (response) {
                alert(response.statusuploadslip)
                $(objbutton).closest("td").find('span[id="uploadslipstatus"]').css('display','inline')
                $(objbutton).css('display','none');
            },
            error: function (response) {
                // alert the error if any error occured
                alert(response["responseJSON"]["error"]);
            }
        })
      })
    }

    function popUpUploadSlip(objbutton,orderid)
    {
      url = '../uploadslip/'+orderid
      $('.modal-body').load(url,function(){
        //$('.modal-body').find('input[id="orderid"]').val(orderid);
        $('.modal-title').html('UPLOAD FOR :'+orderid)
        $('#uploadslipModal').modal('show');
      });
    }
  </script>
{% endblock javascript%}