{% extends "myapp/layout.html" %}
{% block title %}
HOME
{% load static %}
{% endblock %}


{% block content %}

  <h1>Total Book(s) : {{totalrecord}}</h1>  

  {% comment %} PAGING {% endcomment %}
   <div>
    <nav aria-label="Page navigation example">
      <ul class="pagination">
       
        <li class="page-item"><a class="page-link" href="{% url 'pagingitem' previousPage %}">Previous</a></li>
        {% for i in totalpage %}
        <li class="page-item"><a class="page-link" href="{% url 'pagingitem' i %}">{{i}}</a></li>
        {% endfor %}  
        <li class="page-item"><a class="page-link" href="{% url 'pagingitem' nextPage %}">Next</a></li>
      </ul>
    </nav>
  </div>

    <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
      
      {% for book in books %}
      <div class="col">
        <div class="p-3 border bg-light">
          <img src="../media/{{book.image}}" class="card-img-top book" alt="..."  style="height: 15rem;">
        </div>
        <div class='btn-secondary' style="height: 5rem;">
          <p>
          ชื่อหนังสือ : {{book.bookname}} <br>
          ราคา : {{book.price}}<br>
           {% comment %} if json use  if book.instock == '1''{% endcomment %}
           {% if book.instock == True  %}
              {% if user.is_authenticated %}
              <form id="frmaddcart{{book.id}}" action="">
                {% csrf_token %}
                <input type="text" id="bid" name="bid" form="frmaddcart{{book.id}}" value="{{book.id}}">
               <button type="button" class="btn-success btn-sm" onclick="addTocart($(this).closest('form'))">Order</button>
              </form>
                {% comment %} <a href="{% url 'addtocart' book.id %}" class="btn-success btn-sm">Order</a> {% endcomment %}
                
              {% else %} 
              <a href="{% url 'login' %}" class="btn-success btn-sm">Order</a>
              {% endif %} 
           {% else %}
              {% if user.is_authenticated %}
                <button type="button" class="btn-warning btn-sm">PreOrder</button>
              {% else %} 
                <a href="{% url 'login' %}" class="btn-success btn-sm">Order</a>
              {% endif %}   
        {% endif %}
        </p> 
      </div>
      </div>
      {% endfor %}
    
    </div>

  {% comment %} PAGING {% endcomment %}
  <div style="float: right;position: relative;">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
       
        <li class="page-item"><a class="page-link" href="{% url 'pagingitem' previousPage %}">Previous</a></li>
        {% for i in totalpage %}
        <li class="page-item"><a class="page-link" href="{% url 'pagingitem' i %}">{{i}}</a></li>
        {% endfor %}  
        <li class="page-item"><a class="page-link" href="{% url 'pagingitem' nextPage %}">Next</a></li>
      </ul>
    </nav>
  </div>

{% endblock %}

{% block javascript %}
  <script>
    $(document).ready(function () {

    });

    function addTocart(objform)
    {
      var formData = new FormData($(objform)[0]); 
      $.ajax({
        type: 'POST',
        url: "{% url 'addtocart-page' %}",
        cache: false, 
        data: formData,
        async: false, 
        contentType: false, 
        processData: false, 
        dataType: 'json' ,
          success: function (response) {
              //alert(response.sumquan)
              $(document).find('span[id="cartquan"]').html(response.sumquan)
              
          },
          error: function (response) {
              // alert the error if any error occured
              alert(response["responseJSON"]["error"]);
          }
      });

    }

  </script>
{% endblock javascript%}


