{% extends "myapp/layout.html" %}
{% load humanize %}
{% block title %}
Add product
{% endblock %}

{% block content %}
<div id="orderinfo">
  <h2>Upload slip ORDER: {{orderid}}</h2>
  ประเภทการจัดส่ง : {{odb.shipping}}<br>

  จำนวนสินค้า : {{odb.totalquantity}} ชิ้น<br>
  ราคาสินค้า {{odb.goodsprice}}<br>
  ค่าจัดส่ง : {{odb.shippingprice}} <br>
  {% if odb.payment == 'cod' %}
  บวกค่าเก็บเงินปลายทาง : {{odb.codprice}}<br>
  {% endif %}
  ยอดสินค้ารวม : {{totalamount|intcomma}} บาท<br>

  {% if status == 'uploadslip' %}
  <div class="alert alert-danger">
    <strong>ORDER นี้  upload slip แล้ว รอการเช็คสลิปเพื่อยืนยืนการชำระเงิน</strong> 
  </div>
  {% endif %}

  {% if odb.slipuploadstatus == True %}
  <strong><span class="text-danger">ORDER นี้  upload slip แล้ว ไม่จำเป็นต้อง upload ซ้ำ</span></strong> 
  {% endif %}
</div>

<div class="container mt-2">
  <div>
    {% if odb.slipuploadstatus == False %}
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}

      <div class="row g-2 mb-1" style="display:none">
          <div class="col">
            <div class="input-group mb-1">
              <span class="input-group-text">จาก ธนาคาร:</span>
              <input type="text" class="form-control" id="frombank" placeholder="customer's bank" name="frombank">
              <input type="text" class="form-control" value="{{totalamount}}" id="totallyprice" placeholder="" name="totallyprice">
              
            </div>
          </div>

          <div class="col">
              <div class="input-group mb-1">
                <span class="input-group-text">ธนาคารปลายทาง</span>
                <input type="text" class="form-control" id="tobank" placeholder="shop's bank" name="tobank">
              </div>
          </div>
      </div>

      <div class="row g-2 mb-1" style="display:none">
        <div class="col">
          <div class="input-group mb-1">
            <span class="input-group-text">codcost:</span>
            <input type="text" class="form-control" value="{{codcost}}" id="codprice" placeholder="1000" name="codprice">
          </div>
        </div>

        <div class="col">
          <div class="input-group mb-1">
            <span class="input-group-text">shippingprice</span>
            <input type="text" value="{{shipingcost}}" class="form-control" id="shippingprice" placeholder="" name="shippingprice">
          </div>
        </div>
      </div>

       
      <div class="row g-2 mb-1">
        <div class="col">
          <div class="input-group mb-1">
            <span class="input-group-text">วัน:เวลา ทำรายการ (ดููที่ slip)</span>
            <input type="text" class="form-control" id="slipdatetimekeyin" placeholder="23-03-2016:14.26" name="slipdatetimekeyin">
          </div>
          
          
        </div>
        
        <div class="col">
          <div class="input-group">
            <span class="input-group-text">Transaction No(ดูที่ slip):</span>
            <input type="text" class="form-control" id="transactionid" placeholder="TXNT2541114" name="transactionid">
            <input type="hidden" class="form-control" value="{{orderid}}" id="orderid" placeholder="" name="orderid">
            
          </div>
          
        </div>
    </div>

      <div class="row g-2 mb-1">
        <div class="col">
          <div class="input-group">
            <span class="input-group-text">ไฟล์รูป</span>
            <input type="file" class="form-control"  id="slipupload" name="slipupload">
            <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04">Clear File</button>
          </div>
        </div>

        <div class="col">
          <button type="submit" class="btn btn-primary">UPLOAD</button>
        </div>
    </div>
  </form>
  {% endif %}
</div>

{% endblock %}


