{% extends 'school/base.html'%}

{% block content %}

<div class="container">
  
    <div class="card bg-primary text-white">
       <div class="card-body"><h1><u>สนใจสมัครเรียน กด Login</u></h1></div>
    </div> 
  <div class="jumbotron jumbotron-fluid">
    <center>
       <h1>ยินดีต้อนรับสู่ MOTHERSHIP Preject X</h1>
       <p>จะเทพ 4 5 6</p> 

  	   <h1>ติดต่อเราเรา</h1>
       <br>
       
       <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRGOrgsuZIvNTrNEUUqSmy_gFFa2JYh9XqqTg&usqp=CAU" width="400">
      
       <p>MOTHERSHIP 0894760483</p>
    
       <h4><u>แผนที่ที่ทำการ</u></h4>
       <br>
       <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d951.3447604424823!2d101.7117315551104!3d17.489410387540172!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sth!2sth!4v1643089202774!5m2!1sth!2sth" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
       <h1>เกี่ยวกับเรา</h1>

       <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRVsar48IXb5XXcA52z9SlWYJ07sW7_Tex9pg&usqp=CAU" width="400">
       <p>นี่คือโปรแกรมที่ใช้จัดการรวบรวมเป็นคลังข้อสอบ</p>
  </center>

  

  </div>
</div>  
{% endblock content %}




